<ion-header>
  <ion-toolbar>
    <ion-title>Reserva de Aula</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Sair</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!aula" id="container">
    <ion-label>Nenhum aula reservada!</ion-label>
  </div>
    
  <ion-list>
    <ion-card *ngIf="aula">
      <ion-card-header>
        <ion-card-title>Aula 1</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{ aula.conteudo }}</ion-card-content>

      <ion-item>
        <ion-label>Dia da Aula</ion-label>
        <ion-label>{{ aula.dia }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Horário</ion-label>
        <ion-label>{{ aula.horario }}</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-button *ngIf="status === 0" color="secondary" expand="full">Reservar</ion-button>
        <ion-button *ngIf="status === 1" fill="outline" slot="end" color="danger">Não Reservar</ion-button>
      </ion-item>     
    </ion-card>

    <ion-label color="danger">
      {{mensagem}}
    </ion-label>
  </ion-list>
</ion-content>
