<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <p>
      <ion-label>{{ mensagem }}</ion-label>
    </p>
    
    <ion-item>
      <ion-label for="email">Email</ion-label>
      <ion-input id="email" type="email" name="email" placeholder="email"
      [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label for="senha">Senha</ion-label>
      <ion-input id="senha" type="password" name="senha"
      [(ngModel)]="senha" placeholder="senha"></ion-input>
    </ion-item>
    
    <div class="btn-entrar">
      <ion-button expand="block" (click)="login()">Entrar</ion-button>
    </div>
    

  </ion-card>

</ion-content>
